---
- name: Join Secondary Master to Cluster
  become: yes
  ansible.builtin.command: >
    {{ hostvars[groups['primary_masters'][0]]['k8s_join_command'] }}
    --control-plane
    --certificate-key {{ hostvars[groups['primary_masters'][0]]['k8s_cert_key'] }}
  args:
    creates: /etc/kubernetes/admin.conf

- name: Create .kube directory
  become: yes
  become_user: "{{ ansible_user }}"
  ansible.builtin.file:
    path: "$HOME/.kube"
    state: directory
    mode: "0755"

- name: Copy admin.conf to user config (Post-join)
  become: yes
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: "/home/{{ ansible_user }}/.kube/config"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"
    remote_src: yes